*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: white;
}
.nav-link{
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

}
.nav-link:hover{
  color: white;
  background-color: rgb(14, 71, 28);
}
.navbar-brand{

  font-size: 1.25rem;
  font-weight: 800;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* Main Section*/
.main{
  background: url(mani.jpeg)no-repeat;
  background-size: cover;
  width: 100%;
  height: 95vh;
  
}
.main h3{
  font-size: 4.4rem;
  font-weight: 700;
  color: black;
  
}
.main h4{
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
}
.main h6{
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 3px solid rgb(170, 225, 230);
  width: 30%;
  color: black;
}
.main .bt1{
  height: 55px;
  width: 138px;
  background-color: rgb(6, 2, 4);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.about img{
  -webkit-box-shadow: 26px -15px 43px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 26px -15px 43px -15px rgba(0,0,0,0.75);
box-shadow: 26px -15px 43px -15px rgba(0,0,0,0.75);
}
h1{
  font-size: 3rem;
  font-weight: 900;
}
/*                                   Progress Bar CSS            */
.progress{
  background-color: rgb(223, 219, 219);
  justify-content: flex-start;
  border-radius: 50px;
  align-items: center;
  position: relative;
  display: flex;
  height: 25px;
  width: 100%;
}
.pro-value1{
  animation: load1 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.pro-value2{
  animation: load2 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.pro-value3{
  animation: load3 3s normal forwards;
  border-radius: 50px;
  background-color: black;
  height: 25px;
  width: 0;
}
.progress p{
  color: white;

}
@keyframes load1{
  0%{
    width: 0;
  }
  100%{
    width: 98%;
  }
}

@keyframes load2{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes load3{
  0%{
    width: 0;
  }
  100%{
    width: 55%;
  }
}
/* ------------------------------------------------------------------ */
.btn1{
  position: relative;
  height: 40px;
  width: 395px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.btn1:hover{
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: 0.5s;
}

/*--------------------- Skills -------------------------*/
.card:hover{
  background-color: black;
  transition: 0.5s;
}